footer {
  margin-top: 50px;
  text-align: center;
  font-size: 14px;
  font-family: sans-serif;
  display: block;
  align-items: end;
}

@media (min-width: 768px) {
    footer {
      font-size: 1.1rem;
    }
}

@media (min-width:1024px) {
    footer {
      font-size: 1.3rem;
    }
}