.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 30px 5px 10px 10px;
    box-sizing: border-box;
}

h1 {
    color: rgb(223, 32, 32)		;
    font-family: sans-serif;
    font-weight: 900;
    font-size: large;
}

.header-buttons button {
    padding: 5px 10px;
    border-radius: 20px;
    border: 2px solid #000;
    margin-left: 5px;
}


.active {
    background: black;
    color: white;
}

hr {
    width: 89vw;
}

@media (min-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }
    .header-buttons button {
        padding: 0.5rem 1.5rem;
        border-radius: 20px;
        border: 2px solid #000;
        margin-left: 1.8rem;
    }
}


@media (min-width: 1024px) {
    h1 {
        font-size: 2.3rem;
    }
    .header-buttons button {
        padding: 0.8rem 2.5rem;
        border-radius: 20px;
        border: 2px solid #000;
        margin-left: 1.8rem;
    }
}

